<script src="/components/headjs/dist/1.0.0/head.min.js"></script>
<script src="/components/reveal.js/js/reveal.js"></script>

<script>
  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    multiplex: {
      secret: '1446909626795347156',
      id: '934d0152d03c83db',
      url: window.location.origin
    },

    transition: 'slide', // none/fade/slide/convex/concave/zoom
    // Optional reveal.js plugins
    dependencies: [
      {src: '/socket.io/socket.io.js', async: true},
      {src: '/components/reveal.js/plugin/multiplex/master.js', async: true},
      {src: '/components/reveal.js/plugin/notes/notes.js', async: true},
      {
        src: '/components/reveal.js/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      },
      {
        src: '/components/reveal.js/plugin/highlight/highlight.js',
        async: true,
        condition: function () {
          return !!document.querySelector('pre code');
        },
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      },
      {src: '/components/reveal.js/plugin/zoom-js/zoom.js', async: true}
    ]
  });
</script>
</body>
</html>
