<div class="reveal">
  <div class="slides">

    <section>
      <section>
        <img src="/img/angularjs-shield.png"/>

        <h2>Sogeti AngularJS Training</h2>

        <h3>Part 1 - The Big Picture</h3>
      </section>

      <section style="width: 100%;">
        <h2>Who are we?</h2>

        <div class="row middle">
          <div class="col-xs-6">
            <img src="/img/trainers/patrick.jpg" class="circle">
            <p>Patrick Kraaij</p>
            <p></p><a href="mailto:patrick.kraaij@sogeti.com">patrick.kraaij<br>@sogeti.com</a>
          </div>
          <div class="col-xs-6">
            <img src="/img/trainers/henk.jpg" class="circle">
            <p>Henk Bakker</p>
            <a href="mailto:henk.h.bakker@sogeti.com">henk.h.bakker<br>@sogeti.com</a>
          </div>
        </div>
      </section>

      <section>
        <img data-src="/img/sgtifrontend.png" height="200" alt="Sogeti Frontend unit"/>
        <p><a href="https://einstein.sogeti.nl/nieuws/sogeti-front-end-core-team" target="_blank">Einstein
          announcement</a></p>
        <ul>
          <li>Small group</li>
          <li>FE meetings</li>
          <li>Technical meetings</li>
        </ul>
      </section>

      <section>
        <h2>The training</h2>
        <ul>
          <li>3 Parts</li>
          <li>What you will learn:
            <ul>
              <li>AngularJS Concepts</li>
              <li>How to use AngularJS</li>
              <li>JavaScript Skills</li>
              <li>And more...</li>
            </ul>
          </li>
        </ul>
      </section>
      <section>
        <h2>Need to knows</h2>
        <ul>
          <li>Ask your questions immediately!</li>
          <li>Just raise your hand<br>&nbsp;</li>
          <li><strong>Open the presentation on your laptop:</strong></li>
        </ul>
        <p><a href="http://sogeti-angular.herokuapp.com/part/1" target="_blank">sogeti-angular.herokuapp.com/part/1</a>
        </p>

        <p><a href="http://sogeti-angular.herokuapp.com/part/1?print-pdf" target="_blank">sogeti-angular.herokuapp.com/part/1?print-pdf</a>
        </p>
      </section>
    </section>

    <section>
      <h2>Todays Agenda</h2>
      <ul>
        <li style="text-decoration: line-through;">Introduction</li>
        <li>Components</li>
        <li>Why AngularJS?</li>
        <li>Two-way data binding</li>
        <li>Basic concepts</li>
        <li>Unit testing</li>
      </ul>
    </section>

    <section data-background-color="#cb4b16">
      <h2>We should be declaring web applications, not describing their processes</h2>
    </section>

    <section>
      <section>
        <h2><a href="https://en.wikipedia.org/wiki/Component-based_software_engineering" target="_blank">Component-based
          Development</a></h2>
      </section>
      <section>
        <img data-src="/img/gmail.png" alt="gmail" class="stretch"/>
      </section>
      <section>
        <img data-src="/img/gmail-elements.png" alt="gmail" class="stretch"/>
      </section>
      <section>
        <pre><code>
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;title&gt;A new Gmail?&lt;/title&gt;
        &lt;meta name=&quot;description&quot; content=&quot;&quot;&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;
            &lt;img src=&quot;img/logo.png&quot; alt=&quot;Google Logo&quot; /&gt;
            &lt;gmail-search /&gt;
            &lt;gmail-account-strip /&gt;
        &lt;/header&gt;
        &lt;gmail-side-bar&gt;
            &lt;nav is=&quot;gmail-labels&quot;&gt;&lt;/nav&gt;
            &lt;gmail-contacts /&gt;
          &lt;/gmail-sidebar&gt;
        &lt;main&gt;
            &lt;nav is=&quot;gmail-categories&quot;&gt;&lt;/nav&gt;
            &lt;gmail-email-list /&gt;
        &lt;/main&gt;
        &lt;gmail-talk /&gt;
    &lt;/body&gt;
&lt;/html&gt;
        </code></pre>
      </section>
      <section>
        <h3>What if we &ldquo;separate&rdquo; another way?</h3>
        <img data-src="/img/cart/cart.jpg" class="cart"/>
      </section>
      <section data-transition="fade">
        <h3>What if we &ldquo;separate&rdquo; another way?</h3>
        <img data-src="/img/cart/cartcomponent.jpg" class="cart"/>
      </section>
      <section data-transition="fade">
        <h3>What if we &ldquo;separate&rdquo; another way?</h3>
        <img data-src="/img/cart/cartlistcomponent.jpg" class="cart"/>
      </section>
      <section data-transition="fade">
        <h3>What if we &ldquo;separate&rdquo; another way?</h3>
        <img data-src="/img/cart/cartitemcomponent.jpg" class="cart"/>
      </section>
      <section data-transition="fade">
        <h3>What if we &ldquo;separate&rdquo; another way?</h3>
        <img data-src="/img/cart/buttoncomponent.jpg" class="cart"/>
      </section>
      <section>
        <h2>Why components</h2>
        <ul>
          <li class="fragment" data-fragment-index="1"><span class="fragment highlight-blue" data-fragment-index="4">Separation of Concerns</span>
          </li>
          <li class="fragment" data-fragment-index="2"><span class="fragment highlight-blue" data-fragment-index="4">Encapsulation</span>
          </li>
          <li class="fragment" data-fragment-index="3"><span class="fragment highlight-blue" data-fragment-index="4">Isolation</span>
          </li>
        </ul>
        <ul class="fragment">
          <li>Loose Coupling</li>
          <li>Supports Change</li>
          <li>Reusability</li>
        </ul>
      </section>
      <section>
        <h2>
          Single Page Apps
        </h2>
        <p><em>GMail - Twitter - Facebook</em></p>
        <img class="fragment" data-src="/img/spa.svg" height="400"/>
        <aside class="notes">
          <ul>
            <li>Separation of concerns</li>
            <li>True app experience</li>
            <li>Easier to reason about</li>
            <li>Back-end load reduction</li>
          </ul>
        </aside>
      </section>
    </section>

    <section>
      <h2>Libraries</h2>
      <p>Alignment toward Web Components</p>
      <ul>
        <li>Angular - Directives</li>
        <li>Ember - Components</li>
        <li>React - Components</li>
        <li>Knockout - Components</li>
        <li>Polymer - Build upon Web Components</li>
        <li>Angular 2 .....</li>
      </ul>
      <aside class="notes">
        <p>maybe explain the difference</p>
      </aside>
    </section>

    <section data-background-color="#4271ae">
      <h2>What is <span class="">AngularJS</span></h2>

      <p>It's a structural framework for dynamic web apps<br/> that's easy to maintain, in a fast and testable
        way.</p>
    </section>

    <section>
      <h2>The principles</h2>
      <ul class="fragment">
        <li>Rapid development</li>
        <li>Modularity</li>
        <li>Built to be testable</li>
        <li>Write less code</li>
      </ul>
    </section>

    <section>
      <h2>The simplest example</h2>
          <pre ng-non-bindable><code data-trim class="html">
&lt;!DOCTYPE html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;form&gt;
      &lt;label&gt;Your name?&lt;/label&gt;
      &lt;input type="text" ng-model="name" placeholder="Your name?"&gt;
    &lt;/form&gt;
    &lt;h3&gt;My name is {{ name }}!&lt;/h3&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>

      <div class="hide-in-print mt fragment">
        <hr>
        <!doctype html>
        <html ng-app>
        <body class="mt">
        <form>
          <label>What's your name?</label>
          <input class="nice-input" type="text" ng-model="name" placeholder="What's your name?">
        </form>
        <h3 class="mt">My name is <span class="show-off">{{ name }}</span>!</h3>
        </body>
        </html>
      </div>
    </section>

    <section data-background="/img/awesome.gif"></section>

    <section>
      <h2>What it offers us</h2>
      <img src="/img/services.png" height="450"/>
    </section>

    <section>
      <section data-background-color="#cb4b16">
        <h2>Back in the days</h2>
      </section>
      <section>
        <h2>jQuery example</h2>
        <input id="name" type="text" class="nice-input"/>
        <span id="greeting">Hello</span>
        <script>
          $(function () {
            //look up the input element
            var name = $('#name');

            //look up the output element
            var greeting = $('#greeting');

            //listen for keyboard events
            name.keyup(function () {

              //update the output element with the new input
              greeting.text('Hello ' + name.val());

            });
          });
        </script>
        <pre ng-non-bindable><code class="html" data-trim="">
<!-- jQuery Markup -->
<div>
  &lt;input id="name" type="text"&gt;
  &lt;span id="greeting"&gt;Hello&lt;/span&gt;
</div>
        </code></pre>
        <pre ng-non-bindable><code class="javascript" data-trim="">
//look up the input element
var name = $('#name');

//look up the output element
var greeting = $('#greeting');

//listen for keyboard events
name.keyup(function() {

    //update the output element with the new input
    greeting.text('Hello ' + name.val());

});
        </code></pre>

        <aside class="notes">
          Ideally: what do we want to remove?
          <ul>
            <li><strong>name</strong> is already defined in HTML input</li>
            <li>Same goes for <strong>greeting</strong></li>
            <li>Keyboard events can be abstracted to a more general level</li>
            <li>Link between <strong>name</strong> and <strong>greeting</strong> isn't clear</li>
            <li>Why can't we bind them to the same variable?!</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>The AngularJS Solution</h2>
        <pre ng-non-bindable><code class="html">
&lt;div ng-app&gt;
    <input type="text" ng-model="name">
    <span>Hello {{name}}</span>
&lt;/div&gt;
        </code></pre>
        <aside class="notes">
          <ul>
            <li>No double definitions</li>
            <li>No event handling</li>
            <li>Very clear link between the input and greeting</li>
            <li>Functionally linked to the same variable</li>
            <li>Expressive HTML!</li>
          </ul>
        </aside>
      </section>
    </section>

    <section>
      <section>
        <img data-src="/img/one-way-db.png" class="stretch">
        <p>Most templating systems bind data in only one direction: they merge template and model components together
          into a view</p>
        <aside class="notes">
          <ul>
            <li>No data flow from template to controller</li>
            <li>Manually doing this introduces boilerplating</li>
          </ul>
        </aside>
      </section>

      <section>
        <img data-src="/img/two-way-db.png" class="stretch">
        <p>Two-way data binding is the automatic synchronization of data between the model and view.</p>
        <aside class="notes">
          <ul>
            <li>Data-flow from template to controller!</li>
            <li>Cleaner code!</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>Ready... Set... CODE!</h2>
        <img data-src="/img/gifs/letsgo.gif" class="stretch">
      </section>

      <section>
        <h2>Given...</h2>
        <pre ng-non-bindable><code class="html">
<input ng-model="name">
<button ng-click="name = 'Chuck Norris'">Chuck Norris</button>
<h2>Hello {{name || 'Sogeti'}}</h2>
        </code></pre>

        <input ng-model="name" class="nice-input">
        <button ng-click="name = 'Chuck Norris'" class="btn">Chuck Norris</button>
        <h2>Hello {{name || 'Sogeti'}}</h2>
      </section>

      <section>
        <h2>Let's get to it!</h2>

        <p>
          <a href="http://jsbin.sgtifrontend.nl/rifu/1/edit?html,output" target="_blank">http://jsbin.sgtifrontend.nl/rifu/edit?html,output</a>
        </p>

        <ol>
          <li>Add a second button that changes the text to 'Arnold Schwarzenegger'</li>
          <li>Change the default text to 'AngularJS'</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Create a second input that sets a lastname model attribute</li>
              <li>Create a second label which ouputs data from the lastname model attribute</li>
              <li>Let the second button set lastname</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <a href="http://jsbin.sgtifrontend.nl/rifu/edit?html,output" target="_blank">End result</a>
        </aside>
      </section>
      <!--<section data-background="/img/gifs/omg.gif" data-background-repeat="repeat"></section>-->
    </section>

    <!-- modules -->
    <section>
      <section>
        <h2>Modules</h2>

        <p><a href="https://docs.angularjs.org/guide/module" target="_blank">Documentation</a></p>
        <img data-src="/img/structure.png" class="stretch">
        <aside class="notes">
          <ul>
            <li>Everything is (in) a module</li>
            <li>MVC concepts</li>
            <li>AngularJS is a MVW (Model-View-Whatever) framework</li>
            <li>New concepts: Scope, Directive, Filter
              <ul>
                <li>Filter: data modifier</li>
                <li>Scope: View-Model between Controller and Template</li>
                <li>Directive: Custom HTML elements/attributes (powerful!)</li>
              </ul>
            </li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Modules</h2>
        <img data-src="/img/modules.png" class="stretch">
        <aside class="notes">
          <ul>
            <li>Modules can depend on other modules</li>
            <li>An AngularJS app is a module</li>
            <li>Multiple modules (and applications!) can exist on a single page</li>
            <li>Allows for code reuse</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Examples</h2>
        <ul>
          <li>Shopping cart</li>
          <li>Calendar</li>
          <li>Login system (client-side)</li>
          <li>Your application!</li>
        </ul>
      </section>
      <section>
        <h2>Angular modules</h2>

        <p>Creating a module:</p>
        <pre ng-non-bindable><code data-trim class="javascript">
angular.module('myModule', []);
        </code></pre>

        <div class="fragment">
          <p>Getting a module:</p>
          <pre ng-non-bindable><code data-trim class="javascript">
angular.module('myModule');
          </code></pre>
        </div>

        <aside class="notes">
          <ul>
            <li>Unit testing a module will be covered later</li>
            <li>By getting a module, you'd normally want to attach components to it</li>
          </ul>
        </aside>
      </section>
    </section>

    <!-- views & expressions -->
    <section>
      <section>
        <h2>Views &amp; expressions</h2>

        <p><a href="https://docs.angularjs.org/guide/expression" target="_blank">Documentation</a></p>
        <img data-src="/img/templates.png" class="stretch">
      </section>
      <section>
        <h2>Views &amp; expressions</h2>
        <pre ng-non-bindable><code data-trim class="html">
&lt;span ng-app&gt;
    1+2={{1+2}}
&lt;/span&gt;
        </code></pre>

        <span>1+2={{1+2}}</span>
      </section>
      <aside class="notes">
        <p>explain where templates are used:</p>
        <ul>
          <li>directives</li>
          <li>routing</li>
        </ul>
      </aside>
    </section>

    <!-- controllers -->
    <section>
      <section>
        <h2>Controllers</h2>
        <img data-src="/img/scope.png" class="stretch">
      </section>
      <section>
        <h2>Scope</h2>
        <img data-src="/img/scope.png" class="stretch">
      </section>

      <section>
        <h2>Scope</h2>
        <div class="row">
          <div class="col-xs-4">Controller</div>
          <div class="col-xs-8">
            <span class="fragment">
                <pre ng-non-bindable><code data-trim class="javascript">
app.controller('MainCtrl', function ($scope) {
  $scope.title = 'Some title';
});
                </code></pre>
              </span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">Scope</div>
          <div class="col-xs-8">
            <span class="fragment">
                <pre ng-non-bindable><code data-trim class="javascript">
{
    title: 'Some title'
}
                </code></pre>
              </span>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-xs-4">View</div>
          <div class="col-xs-8">
            <span class="fragment">
                <pre ng-non-bindable><code data-trim class="html">
&lt;div ng-controller="MainCtrl"&gt;
  {{ title }}
&lt;/div&gt;
                </code></pre>
              </span>
          </div>
        </div>
      </section>
      <section>
        <h2>Controllers & Scope</h2>
        <h7><a href="https://docs.angularjs.org/guide/controller" target="_blank">Documentation</a></h7>

        <p><a href="http://jsbin.sgtifrontend.nl/beda/3/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/beda/3/edit?html,js,output</a>
        </p>
        <ol>
          <li>Change the default name to your own name</li>
          <li>Display an error when an incorrect name is entered</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Add a button which reverts the displayed name back to the default name</li>
              <li>Create a history list of names, by appending the <code>name</code> model with a separator and the
                new
                name
              </li>
            </ol>
          </li>
        </ol>
      </section>

      <section>
        <h2>$scope has issues</h2>
        <h7><a href="https://docs.angularjs.org/guide/scope" target="_blank">Documentation</a></h7>
        <h7><a href="http://jsbin.sgtifrontend.nl/haku/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/haku/edit?html,js,output</a>
        </h7>

        <pre ng-non-bindable><code data-trim class="html">
&lt;div ng-controller="MainCtrl"&gt;
  {{ title }}
  &lt;div ng-controller="AnotherCtrl"&gt;
    {{ title }}
    &lt;div ng-controller="YetAnotherCtrl"&gt;
      {{ title }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
        <aside class="notes">
          <p>5 min</p>
          <p><a href="http://codepen.io/mjwwit/pen/xGNgRL?editors=101">Codepen backup</a></p>
        </aside>
      </section>

      <section>
        <h2>Scoping</h2>

        <h3>$scope (before 1.2.0)</h3>
        <div class="fragment">
                <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript">
app.controller('MainCtrl', function ($scope) {
  $scope.title = 'Some title';
});
                </code></pre>
        </div>
        <hr/>
        <h3>controllerAs (after 1.2.0)</h3>
        <div class="fragment">
        <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript" data-noescape="">
app.controller('MainCtrl', function () {
  <mark>this.title = 'Some title';</mark>
});
                </code></pre>
        </div>
      </section>

      <section>
        <h2>Solution</h2>
        <pre ng-non-bindable><code data-trim class="html">
&lt;div ng-controller="MainCtrl as main"&gt;
  {{ main.title }}
  &lt;div ng-controller="AnotherCtrl as another"&gt;
    {{ another.title }}
    &lt;div ng-controller="YetAnotherCtrl as yet"&gt;
      {{ yet.title }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
      </section>
    </section>

    <!-- unit testing -->
    <section>
      <section>
        <h2>Unit Testing</h2>
        <ul>
          <li>Karma</li>
          <li>Jasmine</li>
          <li>angular-mocks</li>
        </ul>
      </section>
      <section>
        <h2>Karma</h2>

        <p><a href="https://github.com/karma-runner/karma" target="_blank">Documentation</a></p>

        <p>A simple tool that allows you to execute JavaScript code in multiple real browsers.</p>
      </section>
      <section>
        <h2>Jasmine</h2>

        <p><a href="http://jasmine.github.io/2.3/introduction.html" target="_blank">Documentation</a></p>
        <ul>
          <li>Behavior Driven Development framework</li>
          <li>Provides functions for:
            <ul>
              <li>Structuring tests</li>
              <li>Making assertions</li>
            </ul>
          </li>
        </ul>
        <aside class="notes">
          <ul>
            <li>Software development process emerged from TDD</li>
            <li>&asymp; TDD, main difference is wording</li>
            <li>BDD uses a verbose style so that it's like a sentence</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Jasmine</h2>

        <div>
          <p>Test assertions:</p>
          <pre ng-non-bindable><code data-trim class="javascript">
expect([1, 2, 3]).toEqual([1, 2, 3]);
          </code></pre>
        </div>
        <div class="fragment">
          <p>Individual tests:</p>
          <pre ng-non-bindable><code data-trim class="javascript">
it('should sort in ascending order by default', function () {
  // your test assertion goes here
});</code></pre>
        </div>
        <div class="fragment">
          <p>Grouping tests:</p>
          <pre ng-non-bindable><code data-trim class="javascript">
describe('Sorting the list of users', function () {
  // individual tests go here
});
          </code></pre>
        </div>
        <aside class="notes">
          <ul>
            <li>Bigger apps should mean more unit tests</li>
            <li>Loads of UT's will make result unorganised</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Lets see Jasmine in Action</h2>
        <p><a href="http://jsbin.sgtifrontend.nl/teva/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/teva/edit?html,js,output</a>
        </p>
        <ol>
          <li>
            Create a unit test where you reverse the order of a array
            <ul>
              <li><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/reverse">Tip
                use Array reverse</a></li>
              <li>create a describe for reverse</li>
              <li>add an it to test the reverse function</li>
              <li>add an expectation for the array reverse</li>
            </ul>
          </li>
          <li>
            Make a test that uses Jasmine's beforeEach and afterEach function
            <ul>
              <li>beforeEach should increment foo</li>
            </ul>
          </li>
          <li>Make all the test go green</li>
        </ol>
      </section>
    </section>

    <!-- unit testing -->
    <section>
      <section>
        <h2>Unit Testing with Angular</h2>

        <p><a href="https://docs.angularjs.org/guide/unit-testing" target="_blank">Documentation</a></p>

        <p>Provides support to inject and mock Angular services into unit tests</p>
        <pre ng-non-bindable class="fragment"><code data-trim class="javascript">
angular.module('app', [])
  .controller('PasswordCtrl', function () {
    this.password = '';
    this.grade = function () {
        this.strength = (this.password.length > 8 ? 'strong' : 'weak');
    };
  });
        </code></pre>
      </section>
      <section>
        <h2>angular-mocks</h2>

        <p>The module() function</p>
        <ul>
          <li>Loads the module it's given</li>
        </ul>
        <pre ng-non-bindable class="fragment"><code data-trim class="javascript">
describe('PasswordCtrl', function () {
  beforeEach(module('app'));
});
        </code></pre>
        <aside class="notes">
          <ul>
            <li>Everything in the app module is now accessible</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>angular-mocks</h2>

        <p>The inject() function</p>
        <ul>
          <li>Creates new instance of dependency per test</li>
          <li>Used for resolving references to dependency</li>
        </ul>
        <pre ng-non-bindable class="fragment" style="width: 100%;"><code data-trim class="javascript">
describe('PasswordCtrl', function () {
  beforeEach(module('app'));

  describe('grade', function () {
    it('should set strength to "strong" if the password is >8 chars', inject(function (_$controller_) {
      var ctrl = _$controller_('PasswordCtrl');
      ctrl.password = 'longerthaneightchars';
      ctrl.grade();
      expect(ctrl.strength).toEqual('strong');
    }));
  });
});
        </code></pre>
        <aside class="notes">
          <ul>
            <li>Unit tests should be done in isolation</li>
            <li>Only available while running tests</li>
          </ul>
        </aside>
      </section>
      <section>
        <img data-src="/img/unittest.jpg" class="stretch">
      </section>
    </section>

    <section>
      <h2>Summary</h2>
      <ul>
        <li>Introduction</li>
        <li>Why AngularJS</li>
        <li>Two-way data binding</li>
        <li>Basic concepts</li>
        <li>AngularJS = Awesome</li>
      </ul>
    </section>

    <section>
      <h2>Homework</h2>

      <p><a href="http://angulartrainingexample.herokuapp.com" target="_blank">End result</a></p>

      <p><a href="https://bitbucket.org/sogetifrontend/angularjs-training-app/wiki/Part%20one" target="_blank">Homework
        Part 1</a></p>
    </section>

    <section>
      <img data-src="/img/gifs/noidea.gif" class="stretch">
    </section>

    <section>
      <h1>Thanks!</h1>
      <h7>See you all next time!</h7>
    </section>
  </div>

</div>
