<div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <section>
        <img src="/img/angularjs-shield.png"/>

        <h2>Sogeti AngularJS Training</h2>

        <h3>Part 3 - Advanced Angular</h3>
      </section>

      <section>
        <h2>The Presentation</h2>

        <p><a href="https://sogeti-angular.herokuapp.com/part/3" target="_blank">sogeti-angular.herokuapp.com/part/3</a>
        </p>

        <p><a href="https://sogeti-angular.herokuapp.com/part/3?print-pdf" target="_blank">sogeti-angular.herokuapp.com/part/3?print-pdf</a>
        </p>
      </section>

      <section>
        <h2>Summary</h2>
        <ul>
          <li>Modules</li>
          <li>Dependency Injection</li>
          <li>Unit testing</li>
          <li>Views &amp; directives</li>
          <li>Controllers &amp; scope</li>
          <li>Filters</li>
          <li>Services</li>
        </ul>
      </section>
    </section>

    <section>
      <h2>Todays Agenda</h2>
      <ul>
        <li>Custom directives</li>
        <li>Async & Promises</li>
        <li>API communication</li>
        <li>Tooling</li>
        <li>Learning resources</li>
      </ul>
    </section>

    <section>
      <section data-background-color="#4271ae">
        <h1>Custom directives</h1>

        <p class="fragment">Angular directives: ng-repeat, ng-if, ng-init, etc.</p>
      </section>
      <section>
        <h2>Problem</h2>
        <pre ng-non-bindable><code data-trim class="html">
<div ng-controller="ProductListController as productsCtrl">
  <h2>Products</h2>

  <p>Showing {{productsCtrl.products.length}} of {{productsCtrl.total}} products</p>

  <div class="product-container">
    <div class="product" ng-repeat="product in productsCtrl.products">
      <h5>{{product.title}}</h5>
      <em>Price: {{product.price | currency}}</em>
      <img ng-src="{{product.imageLink}}">
      <span>Stock: {{product.stock}}</span>
      <ul>
        <li ng-repeat="feature in product.features">
          {{feature.title}}: <strong>{{feature.value}}</strong>
        </li>
      </ul>
    </div>
  </div>
  <p>Page: {{productsCtrl.page}}
    <a ng-href="#/page/{{productsCtrl.page - 1}}">&amp;lt;</a> <a
      ng-href="#/page/{{productsCtrl.page + 1}}">&amp;gt;</a>
  </p>
</div>
        </code></pre>
      </section>
      <section>
        <h2>Solution</h2>
        <pre ng-non-bindable><code data-trim class="html">
<div ng-controller="ProductPageController as productPageCtrl">
  <h2>Products</h2>

  <p>Showing {{productPageCtrl.products.length}} of {{productPageCtrl.total}} products</p>

  <div class="product-container">
    <product ng-repeat="product in productPageCtrl.products"></product>
  </div>

  <pagination page="productPageCtrl.page"></pagination>
</div>
        </code></pre>
      </section>
      <section>
        <h2>Solution</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
app.directive('product', function () {
  return {
    template: '<div class="product">'+
                '<h5>{{product.title}}</h5>'+
                '<em>Price: {{product.price | currency}}</em>'+
                '<img ng-src="{{product.imageLink}}">'+
                "<span>Stock: {{product.stock}}</span>'+
                '<ul>'+
                  '<li ng-repeat="feature in product.features">'+
                    '{{feature.title}}: <strong>{{feature.value}}</strong>'+
                  '</li>'+
                '</ul>'+
              '</div>'
  };
})
        </code></pre>
      </section>
      <section>
        <h2>Let's get to it!</h2>

        <p><a href="https://docs.angularjs.org/guide/directive" target="_blank">Documentation</a></p>

        <p><a href="http://jsbin.sgtifrontend.nl/xufa/4/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/xufa/edit?html,js,output</a>
        </p>

        <ol>
          <li>See the duplicate piece of html? Replace it with a directive.
            <ul>
              <li><span style="font-style: italic">Don't forget the dependency injection and the component definition</span></li>
              <li><b>TIP</b> Use a <a href="http://www.freeformatter.com/javascript-escape.html" target="_blank">string formatter</a> to transform html to a javascript string</li>
            </ul>
          </li>
          <li>
            <span class="show-off">Extra:</span>
            <ol>
              <li>Implement ng-repeat</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p>15 min</p>
          <p><a href="http://jsbin.sgtifrontend.nl/xufa/5/edit?html,js,output" target="_blank">solution</a></p>
        </aside>
      </section>
      <section>
        <h2>Directive definition object</h2>
        <p><a href="https://docs.angularjs.org/api/ng/service/$compile" target="_blank">https://docs.angularjs.org/api/ng/service/$compile</a></p>
        <pre ng-non-bindable><code class="javascript" data-trim>
myModule.directive('directiveName', function factory(injectables) {
  return {
    template: '<div></div>',
    // or //templateUrl: 'directive.html',
    transclude: false,
    restrict: 'A',
    scope: false,
    controller: function($scope, $element, $attrs, $transclude, otherInjectables) { ... },
    controllerAs: 'stringIdentifier',
    bindToController: false,
    require: 'siblingDirectiveName',
    link: postLink(scope, iElement, iAttrs, controller) { ... }
  };
});
        </code></pre>
        <aside class="notes">
          <ul>
            <li>We'll explain scope later</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>Scoping (default)</h2>

        <pre ng-non-bindable><code class="html" data-trim>
<div ng-controller="SomeController">
  <span>Controller</span> <input ng-model="title"> {{title}}
  <span>Directive</span>
  <some-directive></some-directive>
</div>
        </code></pre>

        <pre ng-non-bindable><code class="javascript" data-trim>
app.controller('SomeController', function ($scope) {
  $scope.title = 'test';
})
.directive('someDirective', function () {
  return {
    template: '<input ng-model="title"> {{title}}'
  };
});
        </code></pre>

        <div class="fragment">
          <script>
            angular.module('app')
              .controller('Scoping1Controller', function ($scope) {
                $scope.title = 'test';
              })
              .directive('scoping1Directive', function () {
                return {
                  template: '<input class= "nice-input" ng-model="title"> {{title}}'
                };
              });
          </script>

          <div ng-controller="Scoping1Controller">
            <table>
              <tr>
                <td>Controller (parent)</td>
                <td><input class="nice-input" ng-model="title"> {{title}}</td>
              </tr>
              <tr>
                <td>Directive (child)</td>
                <td>
                  <scoping1-directive></scoping1-directive>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h2>Scoping (false)</h2>
        <pre ng-non-bindable><code class="javascript" data-trim data-noescape>
app.controller('SomeController', function ($scope) {
  $scope.title = 'test';
})
.directive('someDirective', function () {
  return {
    template: '&lt;input ng-model=&quot;title&quot;&gt; {{title}}',
    <mark>scope: false</mark>
  };
});
        </code></pre>
        <pre ng-non-bindable><code class="html" data-trim>
<some-directive></some-directive>
        </code></pre>

        <div class="fragment">
          <script>
            angular.module('app')
              .controller('Scoping2Controller', function ($scope) {
                $scope.title = 'test';
              })
              .directive('scoping2Directive', function () {
                return {
                  template: '<input class= "nice-input" ng-model="title"> {{title}}',
                  scope: false
                };
              });
          </script>

          <div ng-controller="Scoping2Controller">
            <table>
              <tr>
                <td>Controller (parent)</td>
                <td><input class="nice-input" ng-model="title"> {{title}}</td>
              </tr>
              <tr>
                <td>Directive (child)</td>
                <td>
                  <scoping2-directive></scoping2-directive>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h2>Scoping (true)</h2>
        <pre ng-non-bindable><code class="javascript" data-trim data-noescape>
app.controller('SomeController', function ($scope) {
  $scope.title = 'test';
})
.directive('someDirective', function () {
  return {
    template: '&lt;input ng-model=&quot;title&quot;&gt; {{title}}',
    <mark>scope: true</mark>
  };
});
        </code></pre>
        <pre ng-non-bindable><code class="html" data-trim>
<some-directive></some-directive>
        </code></pre>

        <div class="fragment">
          <script>
            angular.module('app')
              .controller('Scoping3Controller', function ($scope) {
                $scope.title = 'test';
              })
              .directive('scoping3Directive', function () {
                return {
                  template: '<input class= "nice-input" ng-model="title"> {{title}}',
                  scope: true
                };
              });
          </script>

          <div ng-controller="Scoping3Controller">
            <table>
              <tr>
                <td>Controller (parent)</td>
                <td><input class="nice-input" ng-model="text"> {{text}}</td>
              </tr>
              <tr>
                <td>Directive (child)</td>
                <td>
                  <scoping3-directive></scoping3-directive>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h2>Scoping (1-way)</h2>
        <pre ng-non-bindable><code class="javascript" data-trim data-noescape>
app.controller('SomeController', function ($scope) {
  $scope.title = 'test';
})
.directive('someDirective', function () {
  return {
    template: '&lt;input ng-model=&quot;text&quot;&gt; {{text}}',
    <mark>scope: {</mark>
      <mark>text: '@myTitle'</mark>
    <mark>}</mark>
  };
});
        </code></pre>
        <pre ng-non-bindable><code class="html" data-trim>
<some-directive my-title="{{title}}"></some-directive>
        </code></pre>

        <div class="fragment">
          <script>
            angular.module('app')
              .controller('Scoping4Controller', function ($scope) {
                $scope.title = 'test';
              })
              .directive('scoping4Directive', function () {
                return {
                  template: '<input class="nice-input" ng-model="title"> {{title}}',
                  scope: {
                    title: '@myTitle'
                  }
                };
              });
          </script>

          <div ng-controller="Scoping4Controller">
            <table>
              <tr>
                <td>Controller (parent)</td>
                <td><input class="nice-input" ng-model="title"> {{title}}</td>
              </tr>
              <tr>
                <td>Directive (child)</td>
                <td>
                  <scoping4-directive my-title="{{title}}"></scoping4-directive>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h2>Scoping (2-way)</h2>
        <pre ng-non-bindable><code class="javascript" data-trim data-noescape>
app.controller('SomeController', function ($scope) {
  $scope.title = 'test';
})
.directive('someDirective', function () {
  return {
    template: '&lt;input ng-model=&quot;text&quot;&gt; {{text}}',
    <mark>scope: {</mark>
      <mark>text: '=myTitle'</mark>
    <mark>}</mark>
  };
});
        </code></pre>
        <pre ng-non-bindable><code class="html" data-trim>
<some-directive my-title="title"></some-directive>
        </code></pre>

        <div class="fragment">
          <script>
            angular.module('app')
              .controller('Scoping5Controller', function ($scope) {
                $scope.title = 'test';
              })
              .directive('scoping5Directive', function () {
                return {
                  template: '<input class="nice-input" ng-model="title"> {{title}}',
                  scope: {
                    title: '=myTitle'
                  }
                };
              });
          </script>

          <div ng-controller="Scoping5Controller">
            <table>
              <tr>
                <td>Controller (parent)</td>
                <td><input class="nice-input" ng-model="title"> {{title}}</td>
              </tr>
              <tr>
                <td>Directive (child)</td>
                <td>
                  <scoping5-directive my-title="title"></scoping5-directive>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h2>scope (Isolated scope)</h2>

        <p>@ - Bind local scope to DOM attribute value</p>
        <pre ng-non-bindable><code class="html" data-trim>
<my-directive my-attr="hello {{name}}"></my-directive>
        </code></pre>
        <pre ng-non-bindable><code class="javascript" data-trim>
scope: { localModel: '@myAttr' }
        </code></pre>
        <p>= - Bi-directional binding to parent scope</p>
        <pre ng-non-bindable><code class="html" data-trim>
<my-directive my-attr="parentModel"></my-directive>
        </code></pre>
        <pre><code class="javascript" data-trim>
scope: { localModel: '=myAttr' }
        </code></pre>
      </section>

      <section>
        <h2>Let's get to it!</h2>

        <p><a href="https://docs.angularjs.org/guide/directive#isolating-the-scope-of-a-directive" target="_blank">Documentation</a>
        </p>

        <p><a href="http://jsbin.sgtifrontend.nl/vuco/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/vuco/edit?html,js,output</a>
        </p>

        <ol>
          <li>Note the way how we call the directives from the HTML</li>
          <li>Note the way how the scope variables are bound within the directive</li>
          <li>To reset: press the "Run with JS" button in the top right corner of the output</li>
        </ol>

        <aside class="notes">
          <p>5 min</p>
        </aside>
      </section>

      <section>
        <img data-src="/img/lifecycle.png" alt="lifecyle" height="550"/>
        <p><a href="https://www.toptal.com/angular-js/angular-js-demystifying-directives#directive-function-chart" target="_blank">In depth explanation on Directive lifecycle</a></p>
        <aside class="notes">
          <p><a href="https://www.toptal.com/angular-js/angular-js-demystifying-directives" target="_blank">More info on the lifecycle</a> </p>
        </aside>
      </section>

      <section>
        <h2>Let's go do it!</h2>
        <p><a href="http://jsbin.sgtifrontend.nl/vusi/6/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/vusi/6/edit?html,js,output</a> </p>
        <ol>
          <li>Use the <code>scope</code> object to show the users first and lastname</li>
          <li>Use the <code>link</code> function to make the background red</li>
          <li >
            <span class="show-off">Extra:</span>
            <ol>
              <li>Put the user data in a service</li>
              <li>
                Make a directive that uses the service to show the list of user with the <code>userinfo</code> directive
                <ol><li><b>Hint</b> you can use the controller option in the directive and dont forget to remove the ng-controller in the html</li></ol>
              </li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p><a href="http://jsbin.sgtifrontend.nl/vusi/10/edit?html,js,output" target="_blank">Solution</a></p>
        </aside>

      </section>

      <section>
        <h2>Testing directives</h2>
        <pre ng-non-bindable><code class="javascript" data-trim>
app.directive('sumHeader', function () {
  return {
    template: '<h1>{{1 + 1}}</h1>'
  };
});
        </code></pre>
        <pre ng-non-bindable><code class="javascript" data-trim>
describe('Unit testing directive', function () {
  var $compile, $rootScope, $scope;
  beforeEach(module('myApp'));

  beforeEach(inject(function (_$compile_, _$rootScope_){
    $compile = _$compile_;
    $scope = _$rootScope_.$new();
  }));

  it('Compiles correctly', function () {
    var element = $compile("<sum-header></sum-header>")($scope);
    $scope.$digest();
    expect(element.html()).toContain("2");
  });
});
        </code></pre>
        <p><a href="https://thinkster.io/a-better-way-to-learn-angularjs/digest" target="_blank">$digest() explained</a></p>
        <aside class="notes">
          <p>$apply() ($digest) is used to execute an expression in angular from outside of the angular framework. (For example from browser DOM events, setTimeout, XHR or third party libraries). If you look through the AngularJS source code, you can see where the framework implicitly calls $apply for the Angular equivalents of these events.</p>
        </aside>
      </section>
      <section>
        <h2>Testing time!</h2>
        <p><a href="http://jsbin.sgtifrontend.nl/cumu/7/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/cumu/7/edit?js,output</a>
        </p>
        <ol>
          <li>Implement the the test <code>"should show the greeting "hello world""</code>
            <ol>
              <li>Add a <code>greeting</code> to the <code>$scope</code> containing the string "hello world"</li>
              <li>
                Compile the following template:
                <pre ng-non-bindable><code data-trim=""><hello-world greeting="{{greeting}}"></hello-world></code></pre>
                <ol>
                  <li><b>Hint</b> don't forget the <code>$digest</code></li>
                </ol>
              </li>
              <li>
                Check if the html contains "hello world"
                <ul>
                  <li><b>Hint</b> use <code>toContain</code></li>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p><a href="http://jsbin.sgtifrontend.nl/cumu/5/edit?js,console,output" target="_blank">Solution</a></p>
        </aside>
      </section>
    </section>

    <!-- Asyncs & Promises -->
    <section>
      <section data-background-color="#4271ae">
        <h2>Asynchronous JavaScript</h2>
        <ul>
          <li>Networking operations</li>
          <li>Scheduled functions</li>
          <li>Often using callbacks</li>
        </ul>
      </section>
      <section>
        <h2>Callback</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
// An example of a lengthy task (like a heavy HTTP request),
// emulated using window.setTimeout()
function slowTask(callback) {
  setTimeout(callback, 3000);
}
// This will obviously be printed first
console.log('Starting slow task...');

// Here we execute the lengthy task
slowTask(
  // This function will only be called once the task is done
  function () {
    // This will print last
    console.log('Task done!');
  }
);

// This will print immediately after the first console.log()
console.log('Task running...');
        </code></pre>
        <script>
          angular.module('app').controller('TimeoutCtrl', function ($timeout) {
            var vm = this;
            vm.result = 'Task not started yet...';

            vm.slowFunction = function () {
              $timeout(function () {
                vm.result = 'Task done!';
              }, 3000);
              vm.result = 'Task running...';
            };
          });
        </script>
        <div ng-controller="TimeoutCtrl as tc">
          <button class="btn" ng-click="tc.slowFunction()">Start slow function</button>
          <h3>{{tc.result}}</h3>
        </div>
      </section>
      <section>
        <h3>Problem</h3>
        <pre ng-non-bindable><code data-trim class="javascript">
function organizeParty() {
  getWeatherForecast('tomorrow', function (error, forecast) {
    if (error) {
      console.error('Error: ' + error);
    }
    if(forecast === 'good') {
      planParty('tomorrow', function (error, plans) {
        if (error) {
          console.error('Error: ' + error);
        } else {
          getFriendsList(function (error, friends) {
            if (error) {
              console.error('Error: ' + error);
            } else {
              invite(friends, function (error, plans) {
                // etc, etc, etc....
              });
            }
          });
        }
      });
    }
  });
}
        </code></pre>
      </section>
      <section>
        <h2>Solution: Promises</h2>
        <ul>
          <li>A promise to complete a task</li>
          <li>Easy access to task status</li>
          <li>Flatten nested callbacks</li>
        </ul>
        <aside class="notes">
          <p>Java 8 CompletableFuture</p>
          <p><a href="https://en.wikipedia.org/wiki/Futures_and_promises">https://en.wikipedia.org/wiki/Futures_and_promises</a></p>
        </aside>
      </section>
      <section>
        <h2>Angular Promises</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
var promise = $q(
  // Promise function reference
  function (resolve, reject) {
    // AngularJS alternative for window.setTimeout()
    $timeout(
      // Delayed callback function
      function () {
        // Either 1 or 0
        var result = Math.round(Math.random());
        if (result === 1) {
          // Fulfill the promise
          resolve();
        } else {
          // Reject the promise
          reject();
        }
      }, 3000
    );
  }
);

promise.then(function () {
  console.log('Done!');
});
        </code></pre>
      </section>
      <section>
        <h2>Chaining</h2>

        <p>then, catch, and finally return promises</p>
        <pre ng-non-bindable><code data-trim class="javascript">
somePromise
  .then(onComplete)
  .then(afterOnComplete)
  .catch(onReject)
  .finally(cleanUp);
        </code></pre>
        <p>Return values are forwarded</p>
        <pre ng-non-bindable><code data-trim class="javascript">
getWeatherForecast()
  .then(function (forecast) {
    console.log('Forecast is: ' + forecast);
    return forecast.temperature;
  })
  .then(function (temperature) {
    console.log('Temperature is: ' + temperature);
  })
  .catch(function (error) {
    console.error('Error occurred: ' + error);
  });
        </code></pre>
      </section>
      <section>
        <h2>Planning a party</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
function organizeParty() {
  return getWeatherForecast('tomorrow')
    .then(function (forecast) {
      if (forecast === 'good') {
        return 'tomorrow';
      }
      return $q.reject('Bad weather');
    })
    .then(planParty)
    .then(getFriendsList)
    .then(invite)
    .catch(function (error) {
      console.error(error);
      return $q.reject(error);
    });
}
        </code></pre>
      </section>
      <section>
        <h2>Shorthands</h2>

        <p>Creating a promise that will always be resolved with a value</p>
        <pre ng-non-bindable><code data-trim class="javascript">
var promise = $q.when(value);
        </code></pre>
        <p>Creating a promise that will always be rejected with a value</p>
        <pre ng-non-bindable><code data-trim class="javascript">
var promise = $q.reject(value);
        </code></pre>
      </section>
      <section>
        <h2>Now let's try it!</h2>
        <h7><a href="http://jsbin.sgtifrontend.nl/qeli/3/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/qeli/3/edit?html,js,output</a>
        </h7>
        <ol>
          <li>Add another date value, "yesterday"</li>
          <li>Change the weather forecast function to return an error (rejected
            promise) when yesterday is selected</li>
          <li>Add more 'slow' functions like planning a DJ</li>
          <li><b>Hint</b> Make sure your error flow is still working properly</li>
        </ol>
        <aside class="notes">
          <p><a href="http://jsbin.sgtifrontend.nl/qeli/4/edit?html,js,output" target="_blank">Solution</a></p>
        </aside>
      </section>
      </section>
    <section>
      <section data-background-color="#4271ae">
        <h1>API Communication</h1>

        <p>How to communicate with a REST service</p>
        <p>How to unit test a "service" which calls a REST service</p>
      </section>
      <section>
        <h2>A data service, connecting to a RESTful API</h2>
        <pre ng-non-bindable><code class="javascript" data-trim>
function DataService($http, $q) {
  this.getData = function getData() {
    return $http.get('/some/api/endpoint')
      .then(function (response) {
        return response.data;
      })
      .catch(function (response) {
        return $q.reject(response.data);
      });
  };
}

DataService.$inject = ['$http', '$q'];
angular.module('app', [])
  .service('DataService', DataService);
        </code></pre>
      </section>
      <section>
        <h2>Using the response in a controller</h2>
        <pre ng-non-bindable><code class="javascript" data-trim>
function DataController(DataService) {
  var vm = this;

  DataService.getData()
    .then(function (data) {
      vm.data = data;
    })
    .catch(function (error) {
      vm.error = error;
    });
}

DataController.$inject = ['DataService'];
angular.module('app')
  .controller('DataController', DataController);
        </code></pre>
      </section>
      <section>
        <h2>Testing your data service</h2>
        <pre ng-non-bindable><code class="javascript" data-trim>
describe('DataService', function () {
  var $httpBackend, DataService;

  beforeEach(module('testModule'));
  beforeEach(inject(function (_$httpBackend_, _DataService_) {
    $httpBackend = _$httpBackend_;
    DataService = _DataService_;
  }));

  it('should retrieve data', function () {
    successFn = jasmine.createSpy('successFn');
    failureFn = jasmine.createSpy('failureFn');

    $httpBackend.expectGET('/some/api/endpoint').respond(200, {});
    DataService.getData().then(successFn).catch(failureFn);
    $httpBackend.flush();

    expect(successFn).toHaveBeenCalledWith({});
    expect(failureFn).not.toHaveBeenCalled();
  });
});
        </code></pre>
      </section>
      <section>
        <h2>Testing data services</h2>
        <h7><a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank">$http documentation</a></h7>
        <h7><a href="https://docs.angularjs.org/api/ngMock/service/$httpBackend" target="_blank">$httpBackend
          documentation</a></h7>
        <h7><a href="http://jsbin.sgtifrontend.nl/zogit/4/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/zogit/4/edit?js,output</a>
        </h7>
        <ol>
          <li>Add another async function to the service, <code>sendData</code> which will do a POST request</li>
          <li>Test the new <code>sendData</code> function</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Implement a test with a error HTTP status code "500" to simulate a failed REST call</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p><a href="http://jsbin.sgtifrontend.nl/zogit/3/edit?js,output" target="_blank">Solution</a> </p>
        </aside>
      </section>
    </section>

    <!-- Tooling -->
    <section>
      <section data-background-color="#4271ae">
        <h2>Tooling</h2>
        <ul>
          <li>Editors</li>
          <li>Task runners</li>
          <li>Code quality</li>
          <li>Testing</li>
          <li>Popular plugins</li>
        </ul>
      </section>

      <section>
        <h2>Editors</h2>
        <ul>
          <li>Webstorm</li>
          <li>VSCode</li>
          <li>Sublime</li>
        </ul>
        <p>
          <img data-src="/img/webstorm.png" title="Webstorm" height="250"/>
          <img data-src="/img/vscode.png" title="VSCode" height="250"/>
        </p>
      </section>

      <section>
        <h2>Task runners</h2>
        <p><strong>Optimize your project for production!</strong></p>
        <ul>
          <li>Code quality checking</li>
          <li>Concatenation</li>
          <li>Minification</li>
          <li>Automated testing</li>
        </ul>
        <p>
          <img data-src="/img/grunt.png" title="Grunt" height="250"/>
          <img data-src="/img/gulp.png" title="Gulp" height="250"/>
        </p>
      </section>

      <section>
        <h2>Code quality</h2>
        <p>Helps to detect errors and potential problems in code</p>
        <ul>
          <li>JSHint</li>
          <li>ESLint + JSCS</li>
        </ul>
        <p>
          <img data-src="/img/jshint.png" title="JSHint" height="160"/>
          <img data-src="/img/eslint.png" title="ESLint" height="160"/>
          <img data-src="/img/jscs.svg" title="JSCS" height="160"/>
        </p>
      </section>

      <section>
        <h2>Automated testing</h2>
        <ul>
          <li>Unit testing
            <ul>
              <li>Test runner: Karma</li>
              <li>Run in watch mode</li>
              <li>PhantomJS: the headless browser</li>
            </ul>
          </li>
        </ul>
        <p>
          <img data-src="/img/karma.png" title="Karma" height="250"/>
          <img data-src="/img/phantomjs.png" title="PhantomJS" height="250"/>
        </p>
      </section>

      <section>
        <h2>Automated testing</h2>
        <ul>
          <li>End-to-end (E2E) testing
            <ul>
              <li>Real in-browser tests</li>
              <li>Test runner: Protractor</li>
              <li>Selenium</li>
            </ul>
          </li>
        </ul>
        <p>
          <img data-src="/img/protractor.png" title="Protractor" width="500"/>
        </p>
      </section>

      <section>
        <h2>Popular Plugins</h2>
        <ul>
          <li>Routing libraries
            <ul>
              <li>ngRoute (angular-route)</li>
              <li>AngularUI Router (ui-router)</li>
              <li>Angular Router (router)</li>
            </ul>
          </li>
          <li>Animation / UX libraries
            <ul>
              <li>ngAnimate (angular-animate)</li>
              <li>AngularUI Bootstrap</li>
              <li>ngMaterial (angular-material)</li>
            </ul>
          </li>
          <li>API libraries
            <ul>
              <li>ngResource (angular-resource)</li>
              <li>RESTAngular</li>
            </ul>
          </li>
        </ul>
      </section>
    </section>

    <section>
      <h2>Want to know more?</h2>
      <ul>
        <li><a href="https://github.com/mgechev/angularjs-in-patterns" target="_blank">AngularJS in Design Patterns</a>
        </li>
        <li><a href="http://www.yearofmoo.com/2013/09/advanced-testing-and-debugging-in-angularjs.html" target="_blank">Advanced
          testing in AngularJS</a></li>
        <li><a href="https://github.com/johnpapa/angular-styleguide" target="_blank">John Papa's AngularJS style
          guide</a></li>
        <li><a href="https://gist.github.com/CMCDragonkai/6282750" target="_blank">Directive attribute binding</a></li>
        <li><a href="https://www.ng-book.com/" target="_blank">ng-book</a></li>
        <li><a href="https://www.airpair.com/angularjs/posts/top-10-mistakes-angularjs-developers-make" target="_blank">The
          Top 10 Mistakes AngularJS Developers Make</a></li>
        <li><a href="http://andyshora.com/promises-angularjs-explained-as-cartoon.html" target="_blank">Promises</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Summary</h2>
      <ul>
        <li>Custom directives</li>
        <li>Async & Promises</li>
        <li>API communication</li>
        <li>Tooling</li>
        <li>Learning resources</li>
      </ul>
    </section>

    <section >
      <iframe class="stretch" src="https://www.youtube.com/embed/M_Wp-2XA9ZU?start=248" frameborder="0" allowfullscreen></iframe>
    </section>

    <section>
      <h2>Homework</h2>

      <p><a href="https://bitbucket.org/sogetifrontend/angularjs-training-app/wiki/Part%20three" target="_blank">Homework
        Part 3</a></p>
    </section>

    <section>
      <h1>Enjoy AngularJS!</h1>
    </section>
  </div>

</div>
