<div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <!-- last time -->
    <section>
      <section>
        <img src="/img/angularjs-shield.png"/>

        <h2>Sogeti AngularJS Training</h2>

        <h3>Part 2 - Testing &amp; components</h3>

        <aside class="notes">
          <ul>
            <li>English?</li>
            <li>Laptop is necessary</li>
            <li>Raise hand for questions</li>
            <li>Surprise: unit testing is possible!</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>The Presentation</h2>

        <p><a href="http://sogeti-angular.herokuapp.com/part/2" target="_blank">sogeti-angular.herokuapp.com/part/2</a>
        </p>

        <p><a href="http://sogeti-angular.herokuapp.com/part/2?print-pdf" target="_blank">sogeti-angular.herokuapp.com/part/2?print-pdf</a>
        </p>
      </section>

      <section>
        <h2>Summary</h2>
        <ul>
          <li>Introduction</li>
          <li>Why AngularJS</li>
          <li>Two-way data binding</li>
          <li>Basic concepts</li>
          <li>AngularJS = Awesome</li>
        </ul>

        <aside class="notes">
          <ul>
            <li>View and model bound together</li>
            <li>Used modules &amp; controllers</li>
          </ul>
        </aside>
      </section>
    </section>


    <section>
      <!-- agenda -->
      <section>
        <h2>Todays Agenda</h2>
        <ul>
          <li>Controllers &amp; Unit testing</li>
          <li>Dependency Injection</li>
          <li>Directives</li>
          <li>Filters</li>
          <li>Services</li>
        </ul>

        <aside class="notes">
          <ul>
            <li>Hands on UT included</li>
            <li>Why not to use scope</li>
          </ul>
        </aside>
      </section>

      <!-- modules -->
      <section>
        <h2>Overview</h2>
        <img data-src="/img/structure.png" class="stretch">

        <aside class="notes">
          <ul>
            <li>We're going to cover each component today</li>
            <li>Module contains 0 or more of each component</li>
            <li>A component can not exist without a module</li>
          </ul>
        </aside>
      </section>
    </section>

    <section>
      <section>
        <h2>Back to Controllers</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
app.controller('NameCtrl', function () {
    var names = [
        {id:0, first:'Henk',    last:'Bakker'},
        {id:1, first:'Patrick', last:'de Wit'},
        {id:2, first:'Patrick', last:'Kraaij'},
        {id:3, first:'Michael', last:'de Wit'}
    ];
    this.currentName = names[0];

    this.nextName = function () {
        this.currentName = names[(this.currentName.id+1)%4];
    };
});
        </code></pre>

        <script>
          angular.module('app')
            .controller('NameCtrl', function () {
              var names = [
                {id: 0, first: 'Henk', last: 'Bakker'},
                {id: 1, first: 'Patrick', last: 'de Wit'},
                {id: 2, first: 'Patrick', last: 'Kraaij'},
                {id: 3, first: 'Michael', last: 'de Wit'}
              ];
              this.currentName = names[0];

              this.nextName = function () {
                this.currentName = names[(this.currentName.id + 1) % 4];
              };
            });
        </script>

        <div ng-controller="NameCtrl as ctrl">
          Current name: {{ctrl.currentName.first}} {{ctrl.currentName.last}}<br>
          <button ng-click="ctrl.nextName()">Next name</button>
        </div>
        <aside class="notes">
          <ul>
            <li>names var is only accessible within controller</li>
            <li>Next name is gotten by using %</li>
            <li>http://jsbin.sgtifrontend.nl/biyi/edit?html,js,output</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Let's do something!</h2>
        <h6><a href="https://docs.angularjs.org/guide/controller" target="_blank">Documentation</a></h6>
        <h6><a href="http://jsbin.sgtifrontend.nl/biyi/7/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/biyi/edit?html,js,output</a>
        </h6>

        <span>Create a button that can loop back through the names.</span>
        <aside class="notes">
          <p>5 min</p>

          <p><a href="http://codepen.io/mjwwit/pen/PqvWbV?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/biyi/5/edit?html,js,output">Solution</a></p>
        </aside>
      </section>
      <section>
        <h2>Unit testing controllers</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
describe('NamesController', function () {
  var namesCtrl;

  beforeEach(module('app'));
  beforeEach(inject(function (_$controller_) {
    namesCtrl = _$controller_('NamesController', {});
  }));

  it('should have Henk as the default name', function () {
    expect(namesCtrl.currentName.first).toBe('Henk');
  });
});
          </code></pre>
      </section>
      <section>
        <h2>Unit testing controllers</h2>
        <h7><a href="http://jsbin.sgtifrontend.nl/ron/7/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/ron/edit?html,js,output</a>
        </h7>

        <p>Create a test for the 'previous name' feature from the last assignment</p>
        <aside class="notes">
          <p>5 min</p>

          <p><a href="http://codepen.io/mjwwit/pen/yNWxOo?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/ron/6/edit?js,output">Solution</a></p>
        </aside>
      </section>
    </section>

    <!-- Dependency Injection -->
    <section>
      <section>
        <h2>Dependency Injection</h2>
        <img src="/img/di/array-small.png" class="fragment img-overlay" style="z-index: 2; margin-top: 70px;">
        <img src="/img/di/controller.png" class="fragment img-overlay" style="z-index: 1;">

        <div class="fragment" style="margin-top: 200px;">
          <img src="/img/di/array-small.png" class="img-overlay" style="z-index: 2; margin-top: 70px;">
          <img src="/img/di/controller.png" class="img-overlay" style="z-index: 1;">
        </div>

        <aside class="notes">
          <ul>
            <li>Not convenient</li>
            <li>What happens if we alter the array</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Dependency Injection</h2>
        <img src="/img/di/array.png" class="img-overlay" style="margin: 45px 0 0 1px; z-index: 2;">
        <img src="/img/di/array-component.png" class="fragment img-overlay" style="margin-bottom: 0; z-index: 1;">

        <div style="width: 100%;">
          <img src="/img/di/controllers.png" class="fragment" style="margin-top: 105px;">
        </div>

        <aside class="notes">
          <ul>
            <li>Make array a component (dependency)</li>
            <li>Use component in others (injection)</li>
            <li>Array could be anything</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Advantages Dependency Injection</h2>
        <ul>
          <li>Consumer only needs knowledge of how to use dependencies</li>
          <li class="fragment">Easier to get loose coupling</li>
          <li class="fragment">Easier to test</li>
          <li class="fragment">Allows independent development</li>
        </ul>
        <aside class="notes">
          <ul>
            <li>Independent development by pretending dependency works in some way</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Dependency injection in Angular</h2>
        <table>
          <colgroup>
            <col>
            <col style="border-left: 1px solid black;">
          </colgroup>
          <tr>
            <td>Registering a dependency</td>
            <td>Using a dependency</td>
          </tr>
          <tr>
            <td style="border-bottom: none;">
              <pre ng-non-bindable style="width: 100%;"><code class="javascript">
angular.module('app', [])
    .value('Hello', 'Hello, World!');
              </code></pre>
            </td>
            <td style="border-bottom: none;">
              <pre ng-non-bindable style="width: 100%;" class="fragment"><code class="javascript">
angular.module('app')
    .controller('SomeCtrl', function (Hello) {
      this.hello = Hello;
    });
              </code></pre>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <pre ng-non-bindable style="width: 100%;" class="fragment"><code class="html">
&lt;div ng-controller="SomeCtrl as ctrl"&gt;
  &lt;p&gt;{{ctrl.hello}}&lt;/p&gt;
&lt;/div&gt;
              </code></pre>
            </td>
          </tr>
        </table>
        <aside class="notes">
          <ul>
            <li>Create module and register a value component</li>
            <li>Get module and register a controller component</li>
            <li>Controller injects value</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Problem: <span class="fragment">minifiers!</span></h2>

        <div class="fragment">
          <pre ng-non-bindable><code class="javascript">
angular.module('app', [])
    .value('Hello', 'Hello, World!')
    .controller('SomeCtrl', function (Hello) {
        this.name = Hello;
    });
          </code></pre>
        </div>
        <div class="fragment">
          <p>Becomes:</p>
          <pre ng-non-bindable style="width: 100%;"><code class="javascript">
angular.module("app",[]).value("Hello","Hello, World!").controller("SomeCtrl",function(l){this.name=l});
          </code></pre>
        </div>
        <aside class="notes">
          <ul>
            <li>Minifiers aren't used by DEFAULT</li>
            <li>Value component is still called: "Hello"</li>
            <li>Controller component tries to find: "l" component</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Inline Array Annotation</h2>
        <pre ng-non-bindable><code class="javascript">
angular.module('app', [])
    .value('Hello', 'Hello, World!')
    .controller('SomeCtrl', ['Hello', function (Hello) {
        this.name = Hello;
    }]);</code></pre>
        <div class="fragment">
          <p>Becomes:</p>
          <pre ng-non-bindable style="width: 100%;"><code class="javascript">
angular.module("app",[]).value("Hello","Hello, World!").controller("SomeCtrl",["Hello",function(l){this.name=l}]);
          </code></pre>
        </div>
        <aside class="notes">
          <ul>
            <li>Controller component tries to find: "Hello" component</li>
            <li>Controller calls it locally: "l"</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>$inject Property Annotation</h2>
        <pre ng-non-bindable><code class="javascript">
function MyController(Hello) {
    this.name = Hello;
}
MyController.$inject = [
    'Hello'
];
angular.module('app', [])
    .value('Hello', 'Hello, World!')
    .controller('Main', MyController);
        </code></pre>
      </section>
      <aside class="notes">
        <ul>
          <li>Performance reasons</li>
        </ul>
      </aside>
    </section>

    <!-- directives -->
    <section>
      <section>
        <h2>Directives</h2>
        <img data-src="/img/directives.png" class="stretch">
      </section>
      <section>
        <h2>Directives</h2>

        <ul>
          <li class="fragment">ngApp</li>
          <li class="fragment">ngController</li>
          <li class="fragment">ngModel</li>
          <li class="fragment">ngIf</li>
          <li class="fragment">ngRepeat</li>
          <li class="fragment">ngInit</li>
          <li class="fragment">ngClick</li>
          <li class="fragment">...</li>
        </ul>
      </section>
      <section>
        <h2>Directives</h2>
        <pre ng-non-bindable><code data-trim class="html">
&lt;div ng-app&gt;
    &lt;div ng-init="names = [
            {first:'Henk',    last:'Bakker'},
            {first:'Patrick', last:'de Wit'},
            {first:'Patrick', last:'Kraaij'},
            {first:'Michael', last:'de Wit'}
        ]"&gt;
        &lt;ul&gt;
            &lt;li ng-repeat="name in names"&gt;
                Name: {{name.first}} {{name.last}}
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
        <div ng-init="names = [
                                      {first:'Henk', last:'Bakker'},
                                      {first:'Patrick', last:'de Wit'},
                                      {first:'Patrick', last:'Kraaij'},
                                      {first:'Michael', last:'de Wit'}
                                    ]">
          <ul>
            <li ng-repeat="name in names">
              Name: {{name.first}} {{name.last}}
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h2>Directives</h2>

        <p><a href="https://docs.angularjs.org/guide/directive" target="_blank">Documentation</a></p>

        <p><a href="http://jsbin.sgtifrontend.nl/cehav/1/edit?html,css,output" target="_blank">http://jsbin.sgtifrontend.nl/cehav/1/edit?html,css,output</a></p>

        <ol>
          <li>Use <code>ng-repeat</code> to show the contents of the shopping list</li>
          <li>Use <code>ng-show</code> to only show the items that aren't done</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Instead of hiding items that are done, use strike-through instead (<code>ng-class </code>
                <a href="https://docs.angularjs.org/api/ng/directive/ngClass" target="_blank"> Documentation</a>)
              </li>
              <li>Use <code>ng-click</code> on an item control wether it's done or not</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p>15 min</p>

          <p><a href="http://codepen.io/mjwwit/pen/pJmRNj?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/labo/3/edit?html,output">Solution</a></p>
        </aside>
      </section>
    </section>

    <!-- filters -->
    <section>
      <section>
        <h2>Filters</h2>
        <img data-src="/img/filters.png" class="stretch">
      </section>
      <section ng-non-bindable>
        Single filter:
        <pre><code data-trim class="html">
{{ expression | filter }}
        </code></pre>
        Multiple filters:
        <pre><code data-trim class="html">
{{ expression | filter | filter | ... }}
        </code></pre>
        Filter with options:
        <pre><code data-trim class="html">
{{ expression | filter:argument1:argument2:... }}
        </code></pre>
      </section>
      <section>
        <h2>Custom filters</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
angular.module('app', []).filter('reverse', function () {
  return function (input) {
    return input
      .split('')
      .reduce(function (result, entry) {
        return entry + result;
      }, '');
  };
});
        </code></pre>
        <div class="fragment">
          <p>Usage:</p>
          <pre ng-non-bindable><code data-trim class="html">
&lt;div ng-app="app"&gt;{{"abc" | reverse}}&lt;/div&gt;
          </code></pre>

          <script>
            angular.module('app').filter('reverse', function () {
              return function (input) {
                return input
                  .split('')
                  .reduce(function (result, entry) {
                    return entry + result;
                  }, '');
              };
            });
          </script>
          <div>{{"abc" | reverse}}</div>
        </div>
        <aside class="notes">
          <ul>
            <li>Note: filters return a function!</li>
            <li>From your view, the expression is passed as argument</li>
          </ul>
        </aside>
      </section>
      <section>
        <h2>Custom filters</h2>
        <h7><a href="https://docs.angularjs.org/guide/filter" target="_blank">Documentation</a></h7>
        <h7><a href="http://jsbin.sgtifrontend.nl/teto/2/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/teto/2/edit?html,js,output</a>
        </h7>

        <ol>
          <li>Add a filter feature that capitalizes every odd character index (Sogeti -> SOgEtI)</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Make a <code>1337</code>-filter, replacing letters with their <code>1337</code> number counterparts
              </li>
              <li>Apply both filters to the value in the input box</li>
            </ol>
          </li>
        </ol>
        <h3 class="fragment" style="text-align: center; width: 100%;">Google: "1337 alphabet"</h3>

        <aside class="notes">
          <p>15 min</p>

          <p><a href="http://codepen.io/mjwwit/pen/aOrppy?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/gacem/2/edit?html,js,output">solution</a></p>
        </aside>
      </section>
      <section>
        <h2>Unit testing</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
describe('reverseFilter', function () {
  var reverse;
  beforeEach(module('app'));
  beforeEach(inject(function (_$filter_) {
    reverse = _$filter_('reverse');
  }));

  it('should reverse a string', function () {
    expect(reverse('abc')).toBe('cba');
  });
});
        </code></pre>
      </section>
      <section>
        <h2>Unit testing a filter</h2>
        <h7><a href="http://jsbin.sgtifrontend.nl/laf/3/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/laf/edit?html,js,output</a>
        </h7>
        <ol>
          <li>Change the <code>reverse</code> filter to also capitalize the resulting string</li>
          <li>Change the unit test for this new functionality</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Implement the 'spacing' filter of the last assignment</li>
              <li>Unit test the 'spacing' filter (Tip: you can have multiple <code>describe</code>s!)</li>
              <li>Do the same for the <code>1337</code>-filter</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p><a href="http://codepen.io/mjwwit/pen/xGNggX?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/laf/5/edit?js,output">solution</a></p>
        </aside>
      </section>
    </section>

    <!-- services -->
    <section>
      <section>
        <h2>Services</h2>
        <img data-src="/img/services.png" class="stretch">
      </section>

      <section>
        <h2>Data sharing using scopes</h2>
        <img data-src="/img/scope-tree.png">
        <aside class="notes">
          <ul>
            <li>$rootScope is accessible</li>
            <li>A $scope's parent can be accessed with $parent</li>
            <li>Easy but wrong way</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>Data sharing</h2>
        <table style="width: 100%;">
          <colgroup>
            <col>
            <col style="background-color: salmon; border-left: 1px solid black;">
          </colgroup>
          <tr>
            <td></td>
            <td>Using parent scope</td>
          </tr>
          <tr>
            <td>Controllers</td>
            <td>
              <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript">
angular.module('app', [])
  .controller('OneCtrl', function ($scope) {
    $scope.$parent.title = 'onectrl';
  })
  .controller('TwoCtrl', function () {});
              </code></pre>
            </td>
          </tr>
          <tr>
            <td>View</td>
            <td>
              <pre ng-non-bindable style="width: 100%;"><code data-trim class="html">
&lt;div ng-controller="OneCtrl"&gt;{{ $parent.title }}&lt;/div&gt;
&lt;div ng-controller="TwoCtrl"&gt;
  &lt;button ng-click="$parent.title = 'twoctrl'"&gt;twoctrl&lt;/button&gt;
&lt;/div&gt;
              </code></pre>
            </td>
          </tr>
        </table>
        <script>
          angular.module('app').controller('OneCtrl', function ($scope) {
            $scope.$parent.title = 'onectrl';
          })
            .controller('TwoCtrl', function () {
            });
        </script>
        <div ng-controller="OneCtrl">
          {{ $parent.title }}
        </div>
        <div ng-controller="TwoCtrl">
          <button ng-click="$parent.title = 'twoctrl'">twoctrl</button>
        </div>
        <aside class="notes">
          <ul>
            <li>And what would happen if $scope.$parent was $rootScope?</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>Data sharing</h2>
        <table style="width: 100%;">
          <colgroup>
            <col>
            <col style="background-color: lightgreen; border-left: 1px solid black;">
          </colgroup>
          <tr>
            <td></td>
            <td>Using a service</td>
          </tr>
          <tr>
            <td>Controller with service</td>
            <td>
              <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript">
app.service('OneSrv', function () {
    this.title = 'service title';
  })
  .controller('OneCtrl', function (OneSrv) {
    this.service = OneSrv;
  });
              </code></pre>
            </td>
          </tr>
          <tr>
            <td>View</td>
            <td>
              <pre ng-non-bindable style="width: 100%;"><code data-trim class="html">
&lt;div ng-controller="OneCtrl as ctrl"&gt;
  {{ ctrl.service.title }}
  &lt;button ng-click="ctrl.service.title = 'controller title'"&gt;onectrl&lt;/button&gt;
&lt;/div&gt;
              </code></pre>
            </td>
          </tr>
        </table>
        <aside class="notes">
          <ul>
            <li>Note: accessing service through the controller</li>
            <li>Note: title attribute is bound to the service instance</li>
          </ul>
        </aside>
      </section>

      <section>
        <h2>Let's get to it!</h2>
        <h7><a href="https://docs.angularjs.org/guide/services" target="_blank">Documentation</a></h7>
        <h7><a href="http://jsbin.sgtifrontend.nl/cot/4/edit?html,js,output" target="_blank">http://jsbin.sgtifrontend.nl/cot/edit?html,js,output</a>
        </h7>

        <ol>
          <li>Add a boolean property <code>lowercase</code> to the service</li>
          <li>When lowercase is true the <code>compute</code> function should return lower-case output otherwise uppercase output</li>
          <li>Add checkboxes which set the lowercase property in the the service to true or false to both of the controllers</li>
        </ol>
        <aside class="notes">
          <p><a href="http://codepen.io/mjwwit/pen/YXbNNj?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/cot/3/edit?html,js,output">solution</a></p>

          <p>10 min</p>
        </aside>
      </section>

      <section>
        <h2>Example service</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
angular.module('app', []).service('NumbersList', function () {
  var nrs = [1, 2, 3, 4, 5];
  this.getNumbers = function () {
    return nrs;
  };
});
        </code></pre>
      </section>

      <section>
        <h2>Unit testing services</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
describe('NumbersList', function () {
  var NumbersList;

  beforeEach(module('app'));
  beforeEach(inject(function (_NumbersList_) {
    NumbersList = _NumbersList_;
  }));

  it('should return the correct 5 numbers', function () {
    expect(NumbersList.getNumbers()).toEqual([1, 2, 3, 4, 5]);
  });
});
        </code></pre>
      </section>
      <section>
        <h2>Unit testing services</h2>
        <h7><a href="http://jsbin.sgtifrontend.nl/yep/1/edit?js,output" target="_blank">http://jsbin.sgtifrontend.nl/yep/edit?html,js,output</a>
        </h7>

        <ol>
          <li>Add a setter function for the <code>nrs</code> var in the service</li>
          <li>Write a unit test for the setter function</li>
          <li><span class="show-off">Extra:</span>
            <ol>
              <li>Add a sum function</li>
              <li>Write a unit test for the sum function</li>
            </ol>
          </li>
        </ol>
        <aside class="notes">
          <p>10 min</p>

          <p><a href="http://codepen.io/mjwwit/pen/RPmKKe?editors=101">Codepen backup</a></p>
          <p><a href="http://jsbin.sgtifrontend.nl/yep/4/edit?js,output">solution</a></p>
        </aside>
      </section>
  </section>
  <section>
      <section>
        <h2>AngularJS "Services"</h2>
        <ul>
          <li>Constant</li>
          <li>Value</li>
          <li>Service</li>
          <li>Factory</li>
          <li>Provider</li>
        </ul>
      </section>

      <section>
        <h2>Constant</h2>

        <b>Definition</b>
        <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript">
app.constant('MOVIE_TITLE', 'The Matrix');
        </code></pre>

        <hr>

        <b>Unit test</b>
        <pre ng-non-bindable style="width: 100%;"><code data-trim class="javascript">
it('should have the right value', inject(function (MOVIE_TITLE) {
  expect(MOVIE_TITLE).toBe('The Matrix');
}));
        </code></pre>


        <aside class="notes">
          constant en provider are only two accessible in the config block
        </aside>
      </section>

      <section>
        <h2>Value</h2>

        <b>Definition</b>
        <pre ng-non-bindable><code data-trim class="javascript">
app.value('movieTitle', 'The Matrix');
        </code></pre>

        <hr>

        <b>Unit test</b>
        <pre ng-non-bindable><code data-trim class="javascript">
it('should have the right value', inject(function (movieTitle) {
  expect(movieTitle).toBe('The Matrix');
}));
        </code></pre>
      </section>

      <section>
        <h2>Service</h2>

        <b>Definition</b>
        <pre ng-non-bindable><code data-trim class="javascript">
app.service('movie', function () {
  this.title = 'The Matrix';
});
        </code></pre>

        <hr>

        <b>Unit test</b>
        <pre ng-non-bindable><code data-trim class="javascript">
it('should have the right value', inject(function (movie) {
  expect(movie.title).toBe('The Matrix');
}));
        </code></pre>
      </section>

      <section>
        <h2>Factory</h2>

        <b>Definition</b>
        <pre ng-non-bindable><code data-trim class="javascript">
app.factory('movie', function () {
  var private = 'The Matrix';
  return {
    title: private
  };
});
        </code></pre>

        <hr>

        <b>Unit test</b>
        <pre ng-non-bindable><code data-trim class="javascript">
it('should have the right value', inject(function (movie) {
  expect(movie.title).toBe('The Matrix');
}));
        </code></pre>
      </section>

      <section>
        <h2>Provider</h2>
        <pre ng-non-bindable><code data-trim class="javascript">
app.provider('movie', function () {
  var version;
  this.setVersion: function (value) { version = value; };

  this.$get: function () {
    var private = 'The Matrix ';
    return { title: private + version };
  };
})
.config(function (movieProvider) {
  movieProvider.setVersion('Reloaded');
});
        </code></pre>

        <hr>
        <pre ng-non-bindable><code data-trim class="javascript">
beforeEach(module('app', function (movieProvider) {
  movieProvider.setVersion('Revolutions');
});
it('should have the right value', inject(function (movie) {
  expect(movie.title).toBe('The Matrix Revolutions');
}));
        </code></pre>
        <aside class="notes">
          <ul>
            <li>2 parts: provider &amp; config</li>
            <li>Factory is inside $get function</li>
            <li>Provider can be configured before application starts</li>
          </ul>
        </aside>
      </section>
	  <section>
		  <h2>Service mocking</h2>
		  <p><a href="http://jsbin.sgtifrontend.nl/cawe/edit?js,output" target="_blank">Code example in JSBin</a></p>
		  <p class="fragment"><a href="http://www.bradoncode.com/tutorials/angularjs-unit-testing/" target="_blank">Angular Unit testing tutorials</a></p>
	  </section>
    </section>

    <!-- summary -->
    <section>
      <h2>Summary</h2>
      <ul>
        <li>Controllers &amp; scope</li>
        <li>Unit testing</li>
        <li>Dependency Injection</li>
        <li>Directives</li>
        <li>Filters</li>
        <li>Services</li>
      </ul>
    </section>

    <section>
      <h2>Homework</h2>

      <p><a href="https://bitbucket.org/sogetifrontend/angularjs-training-app/wiki/Part%20two" target="_blank">Homework
        Part 2</a></p>
    </section>

    <section>
      <img src="/img/gifs/toomuch.gif" class="stretch">
    </section>

    <section>
      <h1>Thanks!</h1>
      <h7>See you all next time!</h7>
    </section>
  </div>
</div>
