h7 {
  margin: -20px 0 25px;
  display: block;
}

.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.nice-input {
  height: 28px;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  :focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.circle {
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
  margin: auto;
}

.middle {
  text-align: center;
}

.img-overlay {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.show-off {
  color: #cb4b16;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

.reveal ol > li > ol {
  margin-left: 0;
}

.logo {
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;

  a {
    text-decoration: none;
  }

  img {
    max-width: 200px;
    max-height: 45px;
    height: auto;
  }
}

.course {
  position: absolute;
  bottom: 15px;
  left: 15px;

  img {
    width: 50px;
    height: auto;
  }
  span {
    vertical-align: 150%;
  }
}

section img {
  border: none !important;
  box-shadow: none !important;
}
